- Source: https://tableau.github.io/server-client-python/docs/api-ref
- "HDC현대산업개발: "2a21240d-3f53-4f02-944d-b01647c3dd51"

In [109]:
import tableauserverclient as TSC
import pandas as pd

In [85]:
hr = pd.read_excel("D:\디지털혁신dep\태블로\협업플랫폼 사용량\협업플랫폼 사용량_FINAL\HR\직원명단_202106.xlsx")

empls = {str(row["사번"]):(row["hq명"], row["조직명"], row["성명"]) for _, row in hr.iterrows()}

In [239]:
hr

,사번,성명,EMAIL,본부명,원소속코드,원소속명,조직코드,조직명,직급,구분,직종,성별,하위그룹,재직여부,퇴사일,직무,코스트센터,코스트센터내역
0,1,정 몽규,mgchung@hdc-holdings.com,회장직속,50000200,회장,50000200,회장,회장,본사,관리,남,임원,재직,NaN,회장,0000001150,회장
1,2630,조 규석,ksjo@hdc-dvp.com,건설본부,50282275,TheH Firstier IPARK(개포1 주택재건축),50282275,TheH Firstier IPARK(개포1 주택재건축),2급,현장,건축,남,일반직,재직,NaN,건축,D028,디에이치 퍼스티어 아이파크(개포1동주공아파트)
2,2731,한 경우,hkw0412@hdc-dvp.com,건설본부,50282364,서울숲IPARK리버포레,50282364,서울숲IPARK리버포레,2급,현장,건축,남,일반직,재직,NaN,건축,C043,서울숲 IPARK 리버포레 1차
3,2735,박 태신,pts2735@hdc-dvp.com,건설본부,50283339,탄방동1(숭어리샘)주택재건축,50283339,탄방동1(숭어리샘)주택재건축,2급,현장,토목,남,일반직,재직,NaN,안전,D1088C,대전탄방1구역(숭어리샘)주택재건축
4,2801,이 영록,2801@hdc-dvp.com,건설본부,50258475,건설기획팀,50296709,도시정비1팀(리모델링사업소),2급,본사,건축,남,일반직,재직,NaN,리모델링,0000000217,도시정비1팀('21)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755,4100433,김 선공,4100433@hdc-dvp.com,미래혁신본부,50078553,정보기술팀,50078553,정보기술팀,외주직원2급,본사,전산,남,정보기술외주,재직,NaN,ERP,0000001722,정보기술팀('07)
1756,4100434,이 성아,4100434@hdc-dvp.com,미래혁신본부,50078553,정보기술팀,50078553,정보기술팀,외주직원3급,본사,전산,남,정보기술외주,재직,NaN,ERP,0000001722,정보기술팀('07)
1757,4100435,이 재호,4100435@hdc-dvp.com,미래혁신본부,50078553,정보기술팀,50078553,정보기술팀,외주직원3급,본사,전산,남,정보기술외주,재직,NaN,BS&C,0000001722,정보기술팀('07)
1758,4100436,김 형준,4100436@hdc-dvp.com,미래혁신본부,50078553,정보기술팀,50078553,정보기술팀,외주직원4급,본사,전산,남,정보기술외주,재직,NaN,Infra/서버운영,0000001722,정보기술팀('07)
1759,4100437,황 주희,NaN,미래혁신본부,50078553,정보기술팀,50078553,정보기술팀,외주직원3급,본사,전산,여,정보기술외주,재직,NaN,BS&C,0000001722,정보기술팀('07)

## SIgn In

In [150]:
tableau_auth = TSC.PersonalAccessTokenAuth("admin_TOKEN", "ptMT15t7Sku0mRWa6GXShg==:grXsjSUvwPpFTtznK9mERO3Z930tnHlV")
server = TSC.Server("http://218.153.56.75/", use_server_version=True)

## Projects

In [116]:
with server.auth.sign_in(tableau_auth):
        all_project_items, pagination_item = server.projects.get()
        print([proj.name for proj in all_project_items])

['기본값', 'Tableau 샘플', 'HDC현대산업개발', '6월 데이터 확인']

## Workbooks

In [151]:
with server.auth.sign_in(tableau_auth):
    all_wbs, pagination_item = server.workbooks.get()
all_wbs = [(wb.project_name, wb.name) for wb in all_wbs]
all_wbs = pd.DataFrame(all_wbs, columns=["prj", "wb"])
all_wbs = all_wbs.sort_values(by=["prj", "wb"])

In [152]:
all_wbs.head()

          prj               wb
40  6월 데이터 확인  CS 현황_6월 데이터 확인
42  6월 데이터 확인             마이호미
39  6월 데이터 확인         진행 현장 실적
11  HDC현대산업개발            CS 현황
22  HDC현대산업개발        HR현황(수정본)

## Groups

In [265]:
all_groups = list()
with server.auth.sign_in(tableau_auth):
    groups, pagination_item = server.groups.get()
    for group in groups:
        pagination_item = server.groups.populate_users(group)
        all_groups.extend([(group.name,) + empls[user.name] if user.name in empls.keys() else (group.name, None, None, user.name) for user in group.users])
all_groups
all_groups = pd.DataFrame(all_groups, columns=["group", "hq", "dep", "name"])
all_groups = all_groups.sort_values(by=["group", "hq", "dep", "name"])
all_groups = all_groups.reset_index(drop=True)

In [267]:
all_groups.to_csv("D:/디지털혁신팀/태블로/all_groups.csv", index=False, encoding="euc-kr")
all_groups.head()

               group      hq      dep  name
0    "HR현황" 접근 가능 그룹    건설본부    건설기획팀  심 창식
1    "HR현황" 접근 가능 그룹  미래혁신본부    HR혁신팀  선 영욱
2    "HR현황" 접근 가능 그룹  미래혁신본부  디지털플랫폼팀  박 미숙
3    "HR현황" 접근 가능 그룹  미래혁신본부    미래전략팀  김 아현
4  "본부장 회의" 접근 가능 그룹  개발영업본부   도시개발1팀  임 유빈

## Users

In [278]:
with server.auth.sign_in(tableau_auth):
    all_users, pagination_item = server.users.get()
all_users = [empls[user.name] + (user.site_role,) if user.name in empls.keys() else (None, None, user.name) for user in all_users]
all_users = pd.DataFrame(all_users, columns=["hq", "dep", "name", "site_role"])
all_users = all_users.sort_values(by=["hq", "dep", "name", "site_role"])
all_users = all_users.reset_index(drop=True)

In [279]:
all_users

        hq         dep    name site_role
0   개발영업본부        개발부문    김 태수    Viewer
1   개발영업본부      개발영업본부    박 희윤    Viewer
2   개발영업본부  견적그룹(개발영업)    소 문석    Viewer
3   개발영업본부      도시개발1팀    이 현우    Viewer
4   개발영업본부      도시개발2팀    이 홍석    Viewer
..     ...         ...     ...       ...
95   부회장직속         부회장    김 대철    Viewer
96    사장직속      대표이사사장    권 순호    Viewer
97    사장직속       안전경영실    호 명기    Viewer
98    None        None   admin      None
99    None        None  viewer      None

[100 rows x 4 columns]

In [246]:
# all_users.to_csv("D:/디지털혁신팀/태블로/all_users.csv", index=False, encoding="euc-kr")
all_users

    index      hq         dep    name
0      87  개발영업본부        개발부문    김 태수
1      91  개발영업본부      개발영업본부    박 희윤
2      66  개발영업본부  견적그룹(개발영업)    소 문석
3      60  개발영업본부      도시개발1팀    이 현우
4      72  개발영업본부      도시개발2팀    이 홍석
..    ...     ...         ...     ...
95     89   부회장직속         부회장    김 대철
96     90    사장직속      대표이사사장    권 순호
97     68    사장직속       안전경영실    호 명기
98      0    None        None   admin
99      1    None        None  viewer

[100 rows x 4 columns]

In [240]:
len(all_users)

100

### Sign Out

In [33]:
# server.auth.sign_out()