- Source: https://tableau.github.io/server-client-python/docs/api-ref
- "HDC현대산업개발: "2a21240d-3f53-4f02-944d-b01647c3dd51"

In [280]:
import tableauserverclient as TSC
import pandas as pd

In [284]:
hr = pd.read_excel("D:/디지털혁신팀/태블로/협업플랫폼 사용량/협업플랫폼 사용량_FINAL/HR/직원명단_202106.xlsx")

empls = {str(row["사번"]):(row["본부명"], row["조직명"], row["성명"]) for _, row in hr.iterrows()}

## SIgn In

In [285]:
tableau_auth = TSC.PersonalAccessTokenAuth("admin_TOKEN", "ptMT15t7Sku0mRWa6GXShg==:grXsjSUvwPpFTtznK9mERO3Z930tnHlV")
server = TSC.Server("http://218.153.56.75/", use_server_version=True)

## Projects

In [306]:
# with server.auth.sign_in(tableau_auth):
#         all_project_items, pagination_item = server.projects.get()
#         print([proj.name for proj in all_project_items])

## Workbooks

In [307]:
# with server.auth.sign_in(tableau_auth):
#     all_wbs, pagination_item = server.workbooks.get()
# all_wbs = [(wb.project_name, wb.name) for wb in all_wbs]
# all_wbs = pd.DataFrame(all_wbs, columns=["prj", "wb"])
# all_wbs = all_wbs.sort_values(by=["prj", "wb"])

## Groups

In [304]:
all_groups = list()
with server.auth.sign_in(tableau_auth):
    groups, pagination_item = server.groups.get()
    for group in groups:
        pagination_item = server.groups.populate_users(group)
        all_groups.extend([(group.name,) + empls[user.name] + (user.site_role,) if user.name in empls.keys() else (group.name, None, None, user.name, user.site_role) for user in group.users])
all_groups
all_groups = pd.DataFrame(all_groups, columns=["group", "hq", "dep", "name", "site_role"])
all_groups = all_groups.sort_values(by=["group", "hq", "dep", "name", "site_role"])
all_groups = all_groups.reset_index(drop=True)

In [309]:
# all_groups.to_csv("D:/디지털혁신팀/태블로/all_groups.csv", index=False, encoding="euc-kr")
all_groups.head()

               group      hq      dep  name site_role
0    "HR현황" 접근 가능 그룹    건설본부    건설기획팀  심 창식    Viewer
1    "HR현황" 접근 가능 그룹  미래혁신본부    HR혁신팀  선 영욱    Viewer
2    "HR현황" 접근 가능 그룹  미래혁신본부  디지털플랫폼팀  박 미숙    Viewer
3    "HR현황" 접근 가능 그룹  미래혁신본부    미래전략팀  김 아현    Viewer
4  "본부장 회의" 접근 가능 그룹  개발영업본부   도시개발1팀  임 유빈    Viewer

## Users

In [294]:
# with server.auth.sign_in(tableau_auth):
#     all_users, pagination_item = server.users.get()
# all_users = [empls[user.name] + (user.site_role,) if user.name in empls.keys() else (None, None, user.name) for user in all_users]
# all_users = pd.DataFrame(all_users, columns=["hq", "dep", "name", "site_role"])
# all_users = all_users.sort_values(by=["hq", "dep", "name", "site_role"])
# all_users = all_users.reset_index(drop=True)

In [301]:
# all_users.to_csv("D:/디지털혁신팀/태블로/all_users.csv", index=False, encoding="euc-kr")
# all_users

### Sign Out

In [33]:
# server.auth.sign_out()