- Source: https://tableau.github.io/server-client-python/docs/api-ref
- "HDC현대산업개발: "2a21240d-3f53-4f02-944d-b01647c3dd51"

In [8]:
import tableauserverclient as TSC
import pandas as pd

In [39]:
hr = pd.read_excel("D:/디지털혁신팀/태블로/협업플랫폼 사용량/협업플랫폼 사용량_FINAL/HR/직원명단_202106.xlsx")
hr["성명"] = hr["성명"].apply(lambda x:x.replace(" ", ""))

In [40]:
empls = {str(row["사번"]):(row["본부명"], row["조직명"], row["직무"], row["성명"]) for _, row in hr.iterrows()}

req_opts = TSC.RequestOptions(pagesize=1000)

## SIgn In

In [10]:
tableau_auth = TSC.PersonalAccessTokenAuth("admin_TOKEN", "ptMT15t7Sku0mRWa6GXShg==:grXsjSUvwPpFTtznK9mERO3Z930tnHlV")
server = TSC.Server("http://218.153.56.75/", use_server_version=True)

## Projects

In [48]:
with server.auth.sign_in(tableau_auth):
        all_project_items, pagination_item = server.projects.get()
        print([(prj.name, prj.id) for prj in all_project_items])

[('기본값', '7ff34228-4f13-11eb-8d94-cbbd9e107787'), ('Tableau 샘플', '07b1c1a3-d2fb-4a12-b4ba-c65b396f593c'), ('HDC현대산업개발', '2a21240d-3f53-4f02-944d-b01647c3dd51'), ('6월 데이터 확인', '44546321-94c8-4746-b0e5-0dfb3fa4ce5a')]

## Workbooks

In [307]:
# with server.auth.sign_in(tableau_auth):
#     all_wbs, pagination_item = server.workbooks.get()
# all_wbs = [(wb.project_name, wb.name) for wb in all_wbs]
# all_wbs = pd.DataFrame(all_wbs, columns=["prj", "wb"])
# all_wbs = all_wbs.sort_values(by=["prj", "wb"])

## Groups

## groups.get(), groups.populate_users()

In [67]:
all_groups = list()
with server.auth.sign_in(tableau_auth):
    groups, pagination_item = server.groups.get()
    for group in groups[1:]:
        pagination_item = server.groups.populate_users(group, req_options=req_opts)
        all_groups.extend([(group.name,) + empls[user.name] + (user.site_role,) if user.name in empls.keys() else (group.name, None, None, user.name, user.site_role) for user in group.users])
all_groups
all_groups = pd.DataFrame(all_groups, columns=["group", "hq", "dep", "job", "name", "site_role"])
all_groups = all_groups.sort_values(by=["group", "hq", "dep", "job", "name", "site_role"])
all_groups = all_groups.reset_index(drop=True)

In [68]:
# all_groups.to_csv("D:/디지털혁신팀/태블로/all_groups.csv", index=False, encoding="euc-kr")
all_groups.head()

               group      hq      dep job name site_role
0    "HR현황" 접근 가능 그룹    건설본부    건설기획팀  팀원  심창식    Viewer
1    "HR현황" 접근 가능 그룹  미래혁신본부    HR혁신팀  팀장  선영욱    Viewer
2    "HR현황" 접근 가능 그룹  미래혁신본부  디지털플랫폼팀  팀원  박미숙    Viewer
3    "HR현황" 접근 가능 그룹  미래혁신본부    미래전략팀  서무  김아현    Viewer
4  "본부장 회의" 접근 가능 그룹  개발영업본부   도시개발1팀  팀원  임유빈    Viewer

In [69]:
all_groups["group"].value_counts()

본사팀장/그룹장             51
"분양일보" 접근 가능 그룹      17
"본부장 회의" 접근 가능 그룹    15
디지털혁신팀               14
본부장 이상               12
"HR현황" 접근 가능 그룹       4
Name: group, dtype: int64

### groups.create()

In [66]:
try:
    with server.auth.sign_in(tableau_auth):
        newgroup = TSC.GroupItem("마이호미")
        newgroup.minimum_site_role = TSC.UserItem.Roles.Viewer
        newgroup = server.groups.create(newgroup)
except:
    pass

### groups.add_user()

## Users

In [43]:
with server.auth.sign_in(tableau_auth):
    all_users, pagination_item = server.users.get(req_options=req_opts)
all_users = [empls[user.name] + (user.site_role,) if user.name in empls.keys() else (None, None, user.name) for user in all_users]
all_users = pd.DataFrame(all_users, columns=["hq", "dep", "job", "name", "site_role"])
all_users = all_users.sort_values(by=["hq", "dep", "job", "name", "site_role"])
all_users = all_users.reset_index(drop=True)

In [46]:
# all_users.to_csv("D:/디지털혁신팀/태블로/all_users.csv", index=False, encoding="euc-kr")
all_users.head()

       hq         dep  job name site_role
0  개발영업본부        개발부문  부문장  김태수    Viewer
1  개발영업본부      개발영업본부  본부장  박희윤    Viewer
2  개발영업본부  견적그룹(개발영업)  그룹장  소문석    Viewer
3  개발영업본부      도시개발1팀   팀원  임유빈    Viewer
4  개발영업본부      도시개발1팀   팀장  이현우    Viewer

## Upload a Workbook

In [50]:
filepath = "D:/디지털혁신팀/태블로/마이호미/마이호미_FINAL/마이호미.twbx"
with server.auth.sign_in(tableau_auth):
    wb = TSC.WorkbookItem(name="마이호미", project_id="44546321-94c8-4746-b0e5-0dfb3fa4ce5a")
    wb = server.workbooks.publish(wb, filepath, "Overwrite")

### Sign Out

In [33]:
# server.auth.sign_out()