In [2]:
import pandas as pd
import openpyxl

In [20]:
infos = pd.read_csv("D:/디지털혁신팀/태블로/분양일보/infos_모든 사업지.csv", encoding="euc-kr")
# contracts = pd.read_csv("D:/디지털혁신팀/태블로/분양일보/contracts_모든 사업지.csv", encoding="euc-kr")

In [ ]:
infos = infos[["코드", "사업지","내용구분", "분양구분", "분양종류", "분양일", "완공예정", "사업규모세대", "임대세대"]]
contracts = contracts[["코드", "평형", "동", "호수", "분양구분", "분양종류", "분양가", "계약여부", "계약일자", "해약일자"]]

infos["세대"] = infos.apply(lambda x:x["사업규모세대"] - x["임대세대"] if x["분양구분"] == "일반" else x["사업규모세대"], axis=1)

for col in ["계약일자", "해약일자"]:
    contracts[col] = contracts[col].str.replace("/", "-").str.replace("0000-00-00", "")
    contracts[col] = contracts[col].map(pd.to_datetime)
# contracts[["계약일자", "해약일자"]] = pd.to_datetime(contracts[["계약일자", "해약일자"]])

In [56]:
today = "2021-07-16"

for _, row in infos.iterrows():
    temp = contracts.loc[(contracts["코드"] == row["코드"]) & (contracts["분양구분"] == row["분양구분"]) & (contracts["분양종류"] == row["분양종류"])]
#     temp = temp[(temp["계약일자"] <= today)]
#     temp = temp[(temp["해약일자"] <= today)]

KeyboardInterrupt:

In [57]:
temp

,코드,평형,동,호수,분양구분,분양종류,분양가,계약여부,계약일자,해약일자
79056,A461,23.702,101,0101,일반,APT,54910000.0,Y,2003-11-10,NaT
79057,A461,23.702,101,0101,일반,APT,54910000.0,N,1996-04-01,2000-12-02
79058,A461,23.702,101,0101,일반,APT,54910000.0,N,1999-01-27,2000-10-21
79059,A461,23.702,101,0102,일반,APT,56910000.0,Y,2003-04-09,NaT
79060,A461,23.702,101,0102,일반,APT,56910000.0,N,1996-03-22,2000-12-02
...,...,...,...,...,...,...,...,...,...,...
81687,A461,23.702,107,1505,일반,APT,57555000.0,N,1997-05-17,2002-09-05
81688,A461,23.702,107,1505,일반,APT,57555000.0,Y,2002-10-08,NaT
81689,A461,23.702,107,1505,일반,APT,57555000.0,N,1995-12-13,2000-12-02
81690,A461,23.702,107,1506,일반,APT,57555000.0,N,1996-01-17,2002-09-05
81691,A461,23.702,107,1506,일반,APT,57555000.0,Y,2002-08-30,NaT

In [ ]:
contracts[(contracts["계약일자"] <= today) & (contracts["해약일자"] <= today)]

In [44]:
len(contracts)

          코드      평형    동    호수 분양구분 분양종류           분양가 계약여부       계약일자 해약일자
0       A002  23.690  101  0105   일반  APT  9.290400e+07    Y 1995-10-26  NaT
1       A002  23.690  101  0106   일반  APT  9.290400e+07    Y 1995-10-26  NaT
2       A002  23.690  101  0205   일반  APT  9.290400e+07    Y 1996-07-26  NaT
3       A002  23.690  101  0206   일반  APT  9.290400e+07    Y 1995-10-26  NaT
4       A002  23.690  101  0305   일반  APT  9.290400e+07    Y 1995-10-26  NaT
...      ...     ...  ...   ...  ...  ...           ...  ...        ...  ...
271858  A710  60.08J  104  2202   조합  APT  4.330128e+08    Y 2021-04-27  NaT
271859  A710  60.08J  104  2302   조합  APT  3.527673e+08    Y 2021-04-27  NaT
271860  A710  60.08J  104  2402   조합  APT  2.625176e+08    Y 2021-04-27  NaT
271861  A710  60.08J  104  2502   조합  APT  2.646676e+08    Y 2021-04-29  NaT
271862  A710  66.22J  104  2601   조합  APT  1.099864e+09    Y 2021-04-30  NaT

[271863 rows x 10 columns]

In [25]:
infos

,코드,사업지,분양구분,분양종류,분양일,완공예정,사업규모세대,임대세대,세대
0,A002,자양2동 재건축,일반,APT,1995/10/26,1988/06/20,129,0,129
1,A002,자양2동 재건축,조합,APT,NaN,1988/06/20,141,0,141
2,A011,대구 진천동 2차,일반,APT,0000/00/00,0000/00/00,204,0,204
3,A014,이천 사동리6차,일반,APT,1997/02/11,1999/03/27,346,0,346
4,A015,의정부 장암[군인 공제],일반,APT,1996/06/10,1998/10/12,668,0,668
...,...,...,...,...,...,...,...,...,...
496,I013,서초센트럴 IPARK,일반,오피스텔,2017/10/17,2020/08/25,494,0,494
497,I013,서초센트럴 IPARK,일반,APT,2017/10/17,2020/08/25,318,0,318
498,V053,DKBMC현장,일반,생활형 숙박시설,2019/01/01,2020/07/01,1,0,1
499,V053,DKBMC현장,일반,APT,2019/01/01,2020/07/01,20,0,20
500,Z015,개나리4차아파트재건축(관리),조합,APT,NaN,2011/06/01,264,0,264

In [26]:
contracts.head(1)

     코드      평형    동    호수 분양구분 분양종류         분양가 계약여부        계약일자 해약일자
0  A002  23.690  101  0105   일반  APT  92904000.0    Y  1995/10/26  NaN

In [27]:
contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271863 entries, 0 to 271862
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   코드      271863 non-null  object
 1   평형      271863 non-null  object
 2   동       271863 non-null  object
 3   호수      271863 non-null  object
 4   분양구분    271863 non-null  object
 5   분양종류    271863 non-null  object
 6   분양가     271862 non-null  float64
 7   계약여부    271863 non-null  object
 8   계약일자    271845 non-null  object
 9   해약일자    15900 non-null   object
dtypes: float64(1), object(9)
memory usage: 20.7+ MB

In [8]:
site = "태화강 I'PARK"
temp = contracts[contracts["현장명"]==site]
temp

,코드,현장명,평형,동,호수,성명,분양구분,분양종류,분양가,계약금1차,...,5회,Unnamed: 22,6회,Unnamed: 24,7회,Unnamed: 26,8회,Unnamed: 28,잔금,Unnamed: 30
1,A665,태화강 I'PARK,15.74,101,2607,이보경,일반,오피스텔,170000000.0,2020-07-07 00:00:00,...,2023-03-24 00:00:00,17000000,2023-08-25 00:00:00,17000000,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,51000000
2,A665,태화강 I'PARK,15.74,101,2907,김강현,일반,오피스텔,170000000.0,2020-07-07 00:00:00,...,2023-03-24 00:00:00,17000000,2023-08-25 00:00:00,17000000,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,51000000
3,A665,태화강 I'PARK,15.74,101,3207,조민주,일반,오피스텔,170000000.0,2020-07-27 00:00:00,...,2023-03-24 00:00:00,17000000,2023-08-25 00:00:00,17000000,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,51000000
4,A665,태화강 I'PARK,15.74,102,3501,박순지,일반,오피스텔,170000000.0,2020-09-07 00:00:00,...,2023-08-25 00:00:00,17000000,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,68000000
5,A665,태화강 I'PARK,28.24A,101,702,박은자,일반,오피스텔,307000000.0,2020-12-14 00:00:00,...,2023-08-25 00:00:00,30700000,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,122800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,A665,태화강 I'PARK,29.40C,101,2801,박소영,일반,오피스텔,293000000.0,2021-02-17 00:00:00,...,2023-08-25 00:00:00,29300000,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,117200000
297,A665,태화강 I'PARK,29.40C,101,2901,현순이,일반,오피스텔,293000000.0,2021-02-09 00:00:00,...,2023-08-25 00:00:00,29300000,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,117200000
298,A665,태화강 I'PARK,29.40C,101,3001,박소영,일반,오피스텔,293000000.0,2021-02-25 00:00:00,...,2023-08-25 00:00:00,29300000,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,117200000
299,A665,태화강 I'PARK,29.40C,101,3101,지민석,일반,오피스텔,293000000.0,2020-07-07 00:00:00,...,2023-03-24 00:00:00,29300000,2023-08-25 00:00:00,29300000,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,87900000
300,A665,태화강 I'PARK,29.40C,101,3301,이주현,일반,오피스텔,293000000.0,2021-06-10 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31 00:00:00,146500000

### infos 데이터 누락

In [59]:
infos = pd.read_csv("D:/디지털혁신팀/태블로/분양일보/infos_모든 사업지.csv", encoding="euc-kr")

In [60]:
nulls = infos[["코드", "사업지", "내용구분", "분양구분", "분양종류", "분양일", "완공예정",  "공동도급지분율", "사업규모세대", "사업규모금액", "분양세대", "분양금액", "미분양세대", "미분양금액", "임대세대", "임대금액", "임대분양가"]].isna().sum(axis=1)
idxs = temp[temp>0].index.tolist()
nulls = infos[["코드", "사업지", "내용구분", "분양구분", "분양종류", "분양일", "완공예정",  "공동도급지분율", "사업규모세대", "사업규모금액", "분양세대", "분양금액", "미분양세대", "미분양금액", "임대세대", "임대금액", "임대분양가"]].loc[idxs, :]

TypeError: Invalid comparison between dtype=datetime64[ns] and int

In [21]:
# infos = pd.read_excel("D:/사업별미수현황총괄표_작업_202107090757 (1).xlsx")
# contracts = pd.read_excel("D:/계약일보_작업_202107090757 (1).xlsx")
contracts = openpyxl.load_workbook("D:/계약일보_작업_202107120821.xlsx")
ws1 = contracts.active

In [22]:
wb = openpyxl.load_workbook("D:\디지털혁신팀\태블로\분양일보\계약일보_테이블.xlsx")
ws2 = wb.active