In [1]:
import pandas as pd
from datetime import date, timedelta
from dateutil import relativedelta
from tqdm.notebook import tqdm
import warnings
import os

warnings.filterwarnings("ignore", category=DeprecationWarning)

In [3]:
contracts = pd.read_csv("D:/디지털혁신팀/태블로/분양일보/계약일보_사업지 전체.csv", encoding="euc-kr")

C:\Users\00006363\Anaconda3\envs\tf2.3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,9,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
len(contracts)

270129

In [6]:
contracts[contracts["계약일자"].isna()]

,코드,현장명,평형,동,호수,성명,분양구분,분양종류,계약금1차일자,계약금2차일자,...,중도금4회금액,중도금5회금액,중도금6회금액,중도금7회금액,중도금8회금액,잔금금액,계수,계약여부,계약일자,해약일자
3969,A062,청담 현대빌라트,74.97,101,802,,일반,APT,1998-01-20,NaN,...,NaN,NaN,NaN,NaN,NaN,42121600.0,-2,N,NaN,2000-12-02
3972,A062,청담 현대빌라트,75.66,101,801,,일반,APT,1998-01-20,NaN,...,NaN,NaN,NaN,NaN,NaN,42121600.0,-2,N,NaN,2000-12-02
3975,A062,청담 현대빌라트,81.97,101,101,,일반,APT,1998-01-20,NaN,...,63997000.0,NaN,NaN,NaN,NaN,63326650.0,-3,N,NaN,2000-12-02
4012,A062,청담 현대빌라트,81.97,101,701,,일반,APT,1998-01-20,NaN,...,63997000.0,71995160.0,NaN,NaN,NaN,63420491.0,-2,N,NaN,2000-12-02
10306,A117,설악 콘도,20.65,3,721,이란희,일반,APT,1991-10-08,NaN,...,NaN,NaN,NaN,NaN,NaN,4665000.0,-1,N,NaN,2000-12-02
10459,A117,설악 콘도,20.65,4,819,함돈식,일반,APT,1991-11-11,NaN,...,NaN,NaN,NaN,NaN,NaN,2197000.0,-1,N,NaN,2000-12-02
10613,A117,설악 콘도,20.65,6,223,김선숙,일반,APT,1990-05-10,NaN,...,1500000.0,NaN,NaN,NaN,NaN,3330000.0,-1,N,NaN,2000-12-02
10745,A117,설악 콘도,20.65,6,820,신숙희,일반,APT,1993-01-13,NaN,...,1500000.0,1500000.0,NaN,NaN,NaN,1830000.0,-1,N,NaN,2000-12-02
11674,A117,설악 콘도,30.78,6,337,정재희,일반,APT,1991-11-21,NaN,...,NaN,NaN,NaN,NaN,NaN,3204000.0,-1,N,NaN,2000-12-02
11932,A117,설악 콘도,30.78,10,332,현대산업,일반,APT,1991-12-26,NaN,...,NaN,NaN,NaN,NaN,NaN,4049000.0,-1,N,NaN,2000-12-02
21894,A163,경산 정평,31.511,110,701,진홍근,일반,APT,1994-09-09,NaN,...,9500000.0,9500000.0,NaN,NaN,NaN,16548000.0,-1,N,NaN,2000-12-02
27007,A190,서귀포서호 2차,30.347,201,103,김정자,일반,APT,1994-08-23,NaN,...,NaN,NaN,NaN,NaN,NaN,27000000.0,-1,N,NaN,2000-12-02
27016,A190,서귀포서호 2차,30.347,201,204,김재수,일반,APT,1994-07-28,NaN,...,NaN,NaN,NaN,NaN,NaN,27900000.0,-1,N,NaN,2000-12-02
27051,A190,서귀포서호 2차,30.347,203,104,임귀순,일반,APT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30000000.0,-1,N,NaN,2000-12-02
45805,A352,순천대양토건 현대APT,59.822,106,1302,,일반,APT,2000-08-30,NaN,...,NaN,NaN,NaN,NaN,NaN,85000000.0,-1,N,NaN,2001-03-27
77624,A456,대전아이텔,21.578,100,1718,,일반,APT,1997-11-20,NaN,...,15050000.0,15050000.0,NaN,NaN,NaN,9946000.0,-1,N,NaN,2001-02-20
80918,A461,광주일곡,23.702,106,602,이종열,일반,APT,1995-01-20,NaN,...,6600000.0,5905000.0,NaN,NaN,NaN,12000000.0,-1,N,NaN,2000-12-02
81069,A461,광주일곡,23.702,106,805,임채운,일반,APT,1995-02-23,NaN,...,6600000.0,5905000.0,NaN,NaN,NaN,12000000.0,-1,N,NaN,2000-12-02